<div class="spotify__home-container row">
  <div
    class="spotify__home-container_side-bar col-2 d-flex align-items-center flex-column"
  >
    <div class="spotify__home-container_side-bar-item-logo">
      <img
        src="../../../assets/spotify-light.png"
        alt="logo"
        width="150"
        class="m-3"
      />
    </div>
    <div class="spotify__home-container_side-bar-item">
      <a class="text-decoration-none" href="">Home</a>
    </div>
    <div class="spotify__home-container_side-bar-item">
      <a class="text-decoration-none" href="">Search</a>
    </div>
    <div class="spotify__home-container_side-bar-item">
      <a class="text-decoration-none" href="">Your Library</a>
    </div>
    <div class="spotify__home-container_side-bar-item">
      <a class="text-decoration-none" href="">Create Playlist</a>
    </div>
  </div>
  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>
  </div>
</div>
