.spotify__top-nav {
  width: 100%;
  height: 74px;
  background: #0f0f0f;
  position: fixed;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
  font-size: 18px;
}

.spotify__top-nav_auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.spotify__top-nav_auth_login {
  background-color: #fff;
  padding: 17px;
  border-radius: 40px;
  color: #000;
  width: 110px;
  font-weight: bold;
  text-align: center;
}
.spotify__top-nav_focus_title {
  flex-basis: 753px;
  margin-left: -200px;
}
